<span class="brand-logo" aria-hidden="true">
  <img
    src="/assets/brand/mark-placeholder.svg"
    alt=""
    class="brand-logo__mark"
    width="32"
    height="32"
  />
  <span class="brand-logo__wordmark">HelloDeploy</span>
</span>
