<% if (typeof errors !== 'undefined' && errors && errors.form) { %>
<div class="alert alert--error form-errors-summary" role="alert" tabindex="-1" id="form-error-summary">
  <%- include('icon', { name: 'info' }) %>
  <%= errors.form %>
</div>
<% } %>
